/*! pauwel-io | MIT License | https://github.com/pauwell/pauwell.github.io */

header {
  background-image: url("../img/canoe-lake-mountains.jpg");
  background-size: cover;
  background-position-y: 62%;
}
